*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input.boton{
    background-color: rgb(250, 204, 162);
    border: none;
    color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

div.contenedor{
margin: 0px 25% 0px 25%;
}


div.botones{
    display: inline;
}

#resultado{
    display: inline-block;
}